@if(isLoading){

<h2 style="text-align:center;margin-top:40px;">

    Loading Course...

</h2>

}

@else{

<div class="course-container">

    <div class="course-card">

        <h1>

            {{course.courseName}}

        </h1>

        <p class="description">

            {{course.description}}

        </p>

        <hr>

        <p>

            <strong>Category :</strong>

            {{course.category}}

        </p>

        <p>

            <strong>Price :</strong>

            ₹{{course.price}}

        </p>

        <p>

            <strong>Status :</strong>

            {{course.status}}

        </p>

        <p>

            <strong>Rating :</strong>

            ⭐ {{course.avgRating}}

            ({{course.reviewCount}} Reviews)

        </p>

        <!-- Only for users who have NOT purchased -->

        @if(!ownedCourse){

            <button (click)="enrollCourse()">

                Enroll Now

            </button>

        }

        <!-- Only for purchased courses -->

        @if(ownedCourse){

            <hr style="margin:30px 0;">

            <h2>

                Write a Review

            </h2>

            <p>

                Rating

            </p>

            <select [(ngModel)]="rating">

                <option [value]="5">★★★★★ (5)</option>

                <option [value]="4">★★★★☆ (4)</option>

                <option [value]="3">★★★☆☆ (3)</option>

                <option [value]="2">★★☆☆☆ (2)</option>

                <option [value]="1">★☆☆☆☆ (1)</option>

            </select>

            <br><br>

            <textarea

                rows="5"

                style="width:100%;"

                placeholder="Write your review..."

                [(ngModel)]="reviewText">

            </textarea>

            <br><br>

            <button (click)="submitReview()">

                Submit Review

            </button>

        }

        <hr style="margin:40px 0;">

        <h2>

            Student Reviews

        </h2>

        @if(reviews.length===0){

            <p>

                No Reviews Yet

            </p>

        }

        @else{

            @for(review of reviews; track review.reviewId){

                <div
                    style="
                    border:1px solid #ddd;
                    padding:15px;
                    margin-top:15px;
                    border-radius:10px;
                    background:#fafafa;">

                    <p>

                        <strong>

                            ⭐ {{review.rating}} / 5

                        </strong>

                    </p>

                    <p>

                        {{review.reviewText}}

                    </p>

                    <small>

                        {{review.createdAt}}

                    </small>

                </div>

            }

        }

    </div>

</div>

}