<div class="login-container">

    <div class="login-card">

        <h2>

            Welcome Back 👋

        </h2>

        <p class="subtitle">

            Login to continue your learning journey.

        </p>

        <input
            type="email"
            placeholder="Enter your email"
            [(ngModel)]="email">

        <input
            type="password"
            placeholder="Enter your password"
            [(ngModel)]="password">

        <button
            (click)="login()">

            Login

        </button>

        <p class="register-link">

            Don't have an account?

            <a routerLink="/register">

                Register

            </a>

        </p>

    </div>

</div>