.login-container{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f4f7fb;

}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 12px 30px rgba(0,0,0,.12);

}

.login-card h2{

    text-align:center;

    margin-bottom:10px;

    color:#1e293b;

}

.subtitle{

    text-align:center;

    color:#64748b;

    margin-bottom:30px;

}

.login-card input{

    width:100%;

    margin-bottom:18px;

    padding:14px;

    border:1px solid #d1d5db;

    border-radius:8px;

    font-size:15px;

}

.login-card input:focus{

    outline:none;

    border-color:#2563eb;

}

.login-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:linear-gradient(135deg,#2563eb,#4f46e5);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

.login-card button:hover{

    transform:translateY(-2px);

}

.register-link{

    margin-top:25px;

    text-align:center;

}

.register-link a{

    color:#2563eb;

    text-decoration:none;

    font-weight:600;

}