<h1>Available Courses</h1>

@if(isLoading){

<h3 style="text-align:center;">

    Loading Courses...

</h3>

}

@else {

    @for(course of courses; track course.courseId){

        <div
            class="course-card"
            (click)="viewCourse(course.courseId)"
            style="cursor:pointer;">

            <h2>{{course.courseName}}</h2>

            <p>

                {{course.description}}

            </p>

            <p>

                <strong>Category :</strong>

                {{course.category}}

            </p>

            <p>

                <strong>Price :</strong>

                ₹{{course.price}}

            </p>

            <p>

                ⭐ {{course.avgRating}}

                ({{course.reviewCount}} Reviews)

            </p>

        </div>

    }

}