<div class="page-header">

    <h1>Explore Courses</h1>

    <p>

        Learn Production Ready Backend Development

    </p>

</div>

<div class="toolbar">

    <input

        type="text"

        placeholder="Search courses..."

        [(ngModel)]="search"

        (input)="applyFilters()">

    <select

        [(ngModel)]="selectedCategory"

        (change)="applyFilters()">

        <option value="ALL">

            All Categories

        </option>

        <option value="SELF_LEARNING">

            Self Learning

        </option>

        <option value="INSTRUCTOR_LED">

            Instructor Led

        </option>

    </select>

    <select

        [(ngModel)]="sortBy"

        (change)="applyFilters()">

        <option value="rating">

            Highest Rated

        </option>

        <option value="priceLow">

            Price Low

        </option>

        <option value="priceHigh">

            Price High

        </option>

    </select>

</div>

<p class="course-count">

    {{filteredCourses.length}} Courses Found

</p>

@if(isLoading){

<div class="loading">

Loading Courses...

</div>

}

@else{

<div class="course-grid">

@for(course of filteredCourses;track course.courseId){

<div

class="course-card"

(click)="viewCourse(course.courseId)">

<span class="badge">

{{course.category}}

</span>

<h2>

{{course.courseName}}

</h2>

<p>

{{course.description}}

</p>

<div class="bottom">

<div>

⭐ {{course.avgRating}}

</div>

<div>

₹{{course.price}}

</div>

</div>

<button>

View Details →

</button>

</div>

}

</div>

}