<div class="page-header">

    <h1>

        Explore Courses

    </h1>

    <p>

        Learn from production-ready backend engineering courses.

    </p>

</div>

<div class="toolbar">

    <input

        type="text"

        placeholder="Search courses..."

        [(ngModel)]="searchText"

        (input)="applyFilters()">

    <select

        [(ngModel)]="selectedCategory"

        (change)="applyFilters()">

        <option value="ALL">

            All Categories

        </option>

        <option value="SELF_LEARNING">

            Self Learning

        </option>

        <option value="INSTRUCTOR_LED">

            Instructor Led

        </option>

    </select>

    <select

        [(ngModel)]="selectedSort"

        (change)="applyFilters()">

        <option value="DEFAULT">

            Sort

        </option>

        <option value="PRICE_LOW">

            Price ↑

        </option>

        <option value="PRICE_HIGH">

            Price ↓

        </option>

        <option value="RATING">

            Rating

        </option>

    </select>

</div>

@if(isLoading){

<h2 class="loading">

    Loading Courses...

</h2>

}

@else{

<div class="course-grid">

@for(course of filteredCourses;track course.courseId){

<div

class="course-card"

(click)="viewCourse(course.courseId)">

<div class="badge">

{{course.category}}

</div>

<h2>

{{course.courseName}}

</h2>

<p>

{{course.description}}

</p>

<div class="details">

<span>

⭐ {{course.avgRating}}

</span>

<span>

{{course.reviewCount}} Reviews

</span>

</div>

<div class="price">

₹{{course.price}}

</div>

<button>

View Course →

</button>

</div>

}

</div>

}