<nav>

    <a routerLink="/">Home</a>

    |

    <a routerLink="/courses">Courses</a>

    @if(tokenService.isLoggedIn()){

        |

        <a routerLink="/profile">

            Profile

        </a>

        |

        <a
            href="#"
            (click)="logout(); $event.preventDefault()">

            Logout

        </a>

    }

    @else{

        |

        <a routerLink="/login">

            Login

        </a>

        |

        <a routerLink="/register">

            Register

        </a>

    }

</nav>