.navbar{

    height:75px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 70px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

    position:sticky;

    top:0;

    z-index:1000;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#2563eb;

    cursor:pointer;

}

.menu{

    display:flex;

    gap:35px;

    align-items:center;

}

.menu a{

    color:#334155;

    font-size:16px;

    font-weight:500;

    transition:.25s;

}

.menu a:hover{

    color:#2563eb;

}