<nav class="navbar">

    <div
        class="logo"
        routerLink="/"
        (click)="closeMenu()">

        E-Learn

    </div>

    <button
        class="menu-btn"
        (click)="toggleMenu()">

        ☰

    </button>

    <div
        class="menu"
        [class.open]="mobileMenuOpen">

        <a
            routerLink="/"
            routerLinkActive="active"
            (click)="closeMenu()">

            Home

        </a>

        <a
            routerLink="/courses"
            routerLinkActive="active"
            (click)="closeMenu()">

            Courses

        </a>

        @if(tokenService.isLoggedIn()){

            <a
                routerLink="/my-courses"
                routerLinkActive="active"
                (click)="closeMenu()">

                My Courses

            </a>

            <a
                routerLink="/profile"
                routerLinkActive="active"
                (click)="closeMenu()">

                Profile

            </a>

            <div class="avatar">

                {{getInitial()}}

            </div>

            <button
                class="logout"

                (click)="logout()">

                Logout

            </button>

        }

        @else{

            <a
                routerLink="/login"
                routerLinkActive="active"
                (click)="closeMenu()">

                Login

            </a>

            <a
                routerLink="/register"
                routerLinkActive="active"
                (click)="closeMenu()">

                Register

            </a>

        }

    </div>

</nav>