<nav class="navbar">

    <div class="logo"
         routerLink="/">

        E-Learn

    </div>

    <div class="menu">

        <a routerLink="/">

            Home

        </a>

        <a routerLink="/courses">

            Courses

        </a>

        @if(tokenService.isLoggedIn()){

            <a routerLink="/my-courses">

                My Courses

            </a>

            <a routerLink="/profile">

                Profile

            </a>

            <a
                href="#"
                (click)="logout();$event.preventDefault()">

                Logout

            </a>

        }

        @else{

            <a routerLink="/login">

                Login

            </a>

            <a routerLink="/register">

                Register

            </a>

        }

    </div>

</nav>