<section class="hero">

    <div class="hero-left">

        <h1>

            Become a Professional Backend Engineer

        </h1>

        <p>

            Master Java, Spring Boot, Microservices,
            Kafka, System Design and Cloud with
            production-ready projects.

        </p>

        <button
            (click)="exploreCourses()">

            Explore Courses

        </button>

    </div>

    <div class="hero-right">

        <div class="stats">

            <h2>

                120+

            </h2>

            <span>

                Courses

            </span>

        </div>

        <div class="stats">

            <h2>

                15K+

            </h2>

            <span>

                Learners

            </span>

        </div>

        <div class="stats">

            <h2>

                4.9★

            </h2>

            <span>

                Rating

            </span>

        </div>

    </div>

</section>