<footer class="footer">

    <div class="footer-container">

        <div class="footer-section">

            <h2>E-Learn</h2>

            <p>

                Learn Java, Spring Boot, Kafka,
                Microservices and System Design through
                real production-ready projects.

            </p>

        </div>

        <div class="footer-section">

            <h3>Platform</h3>

            <a routerLink="/">Home</a>

            <a routerLink="/courses">Courses</a>

            <a routerLink="/my-courses">My Courses</a>

            <a routerLink="/profile">Profile</a>

        </div>

        <div class="footer-section">

            <h3>Technology</h3>

            <span>Java 17</span>

            <span>Spring Boot</span>

            <span>Angular 18</span>

            <span>Kafka</span>

            <span>Microservices</span>

        </div>

        <div class="footer-section">

            <h3>Contact</h3>

            <span>Hyderabad, India</span>

            <span>Backend Learning Platform</span>

            <span>Version 1.0</span>

        </div>

    </div>

    <hr>

    <p class="copyright">

        © {{currentYear}} E-Learn Platform • Built using Angular 18 + Spring Boot Microservices

    </p>

</footer>